.page-best{
    background-image: url("../../assets/bg/alice2.webp");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
}


// img{
//     width: 100px;
//     height: 100px;
//     display: block;
//     position: relative;
//     border: 1px solid #000;
// }


// .mini-block{
//     border: 1px solid #000;
//     margin: 10px auto;
//     width: 80%;
// }