/* 
.btn-s{
    padding: 5px 10px;
    background-color: #48b23a;
    border-radius: 5px;
}

.btn-m{
    padding: 10px 15px;
    background-color: #48b23a;
    border-radius: 8px;
}

.btn-l{
    padding: 15px 20px;
    background-color: #48b23a;
    border-radius: 12px;
} */