/* .menu-main {
    position: absolute;
    
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
}


.menu-main a{
    display: inline-block;
    font-family: sans-serif;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid #000;
    background: rgb(184, 100, 32);
} 

.menu-main .selected{
    background: rgb(15, 164, 159);    
} */
