.page-me{
    background-image: url("../../assets/bg/poke1.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}




form{
    width: 260px;
    margin: 20px auto;
}

input{
    margin-top: 90px;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
    border: 7px solid #000;
    border-radius: 5px;
}

.App{
    position: relative;
    height: fit-content;
    width: 100%;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 30px 20px;
    margin: 10px auto 100px;
    background-color: #F7DFE5;    
    background-image: url("../../assets/pokeapi/screen-footer.svg"),url("../../assets/pokeapi/screen-body.svg");
    background-position: center top, center bottom, center center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: contain, contain, contain;
    

}
.App{
    background-color: #ee3030;
    width: 400px;
    height: auto;
    margin: 50px auto;
    border-radius: 10px;
    background-image: url("../../assets/pokeapi/main-header.svg"),url("../../assets/pokeapi/main-footer.svg");
    background-position: center top, center bottom;
    background-repeat: no-repeat;
    background-size: contain,contain;
    border: 10px solid #000;
    
}


.mini-head{
    display: block;
    position: relative;
    height: 70px;
    width: 340px;
    background-image: url("../../assets/pokeapi/screen-header.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.mini-foot{
    display: block;
    position: relative;
    height: 50px;
    width: 340px;
    background-image: url("../../assets/pokeapi/screen-footer.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.poke-card{
    display: block;
    height: auto;
    width: 340px;
    left: 10px;
    top: 10px;

    background-image: url("../../assets/pokeapi/screen-body.svg");
    background-position: center center;
    background-repeat: repeat;
    background-size: contain;

}

.poke-info {
    width: 80%;
    margin-left: 10%;
    // border-collapse: collapse;

    tr{
     width: 100%;
    }
    td{
        background-color: rgba(0,0,0,0.1);
        width: 50%;
        // border: 1px solid #000;
        &:nth-child(1){
            color: #777;
            font-size: 80%;   
        }
    }
    

}

.App img{
    width: 80%;
}


/* @media Media queries - - - - - - - - - - - - - - - - - - - - */

.respo {
    clear: none;
}

.respo:before {
	z-index:1000;
	width:auto;
	bottom:5px;
	right:5px;
	position: fixed;
	padding: 5px;
	color:#000;
	font-size: 12px;
	font-weight: 700;
	transition: all 1s ease;
	opacity: 0.8;
}

.respo:before {
	content: "(none)";
	background: cyan;
}

/* 980px min - Large desktop - - - - - - - - - - */

@media (min-width: 980px) {
}

/* 980px max - Large desktop - - - - - - - - - - */

@media (max-width: 980px) {

    .respo:before {
        content: "(max-width: 980px)";
        background:magenta;
    }

    html {
        font-size: 18px;
    }


}

/* 768px max - Landscape phone to portrait tablet - - - - - - - - - - */

@media (max-width: 768px) {

    .respo:before {
        content: "(max-width: 768px)";
        background: yellow;
    }

    html {
        font-size: 20px;
    }

    body{
        background: #000;
        border: 10px solid #000;
    }

    .App{
        width: 100%;
        margin: 0;
        border-radius: 30px;
    }

    form{
        width: 100%;
        position: relative;
    }



}

/* 480px Landscape phones and down - - - - - - - - - - - - - - - - - - - - */

@media (max-width: 480px) {

    .respo:before {
        content: "(max-width: 480px)";
        background: grey;
    }

    html {
        font-size: 18px;
    }

    body{
        min-height: 100vh;
    }

    .App{
        min-height: 58vh;
    }

    form{
        margin-top: 20px;
    }


    .poke-card{
        border: 1px solid #000;
    }

    .img-container{
        margin: 20px;
    }

}

