.logo-bar{
    display: block;
    position: relative;
    height: 100%;
    margin: auto;
}

.menu{

    a{
        background: rgba(0,0,0,0.2);
        text-decoration: none;
        padding: 6px 20px;
        margin: 0 20px;
        vertical-align: middle;
        border-radius: 10px;
        color: #fff;
        transition: all 1s ease;

        &:hover{
            transform: scale(1.5)rotate(10deg);
        }

        &.selected{
            background: rgba(0,0,0,0.4);
        }

    }
    
    
}


.menu-mobile {
    color: #f07;
    text-decoration: none;
}