*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


.magenta {background-color: #e50c8b !important;}
.green   {background-color: #0ce587 !important;}
.orange  {background-color: #bd6105 !important;}